<%- include('includes/header.ejs') %>

<div>
    <h1>Shop</h1>
    <% if (products.length > 0) { %>
        <div class="products">
            <% for (let product of products) { %>
                <article class="product">
                    <header>
                        <h3><%= product.name %></h3>
                    </header>
                    <div class="description">
                        <span><i><%= product.description %></i></span>
                    </div>
                    <div class="price">
                        <span><b>£<%= product.price.toFixed(2) %></b></span>
                    </div>
                    <footer>
                        <div class="link">
                            <a href="/admin/remove-product/<%= product.id %>">Delete</a>
                        </div>
                    </footer>
                </article>
            <% } %>
        </div>
    <% } else { %>
        <h2>No Products available.</h2>
    <% } %>
</div>

<%- include('includes/footer.ejs') %>