<%- include('../includes/header.ejs') %>

<script type="text/javascript">
(function() {
    'use strict';

    const postalServices = JSON.parse($("<textarea/>").html('<%= JSON.stringify(postalServices) %>').text());
    const previousPostalService = '<%= preferredPostalService %>';

    let selectedPostalServiceId = parseInt(previousPostalService);

    const checkoutBtnClick = (e) => {
        window.location.href = `/shop/checkout/${selectedPostalServiceId}`;
    }

    window.addEventListener('load', function() {
        $('#checkoutBtn').on("click", checkoutBtnClick);
        $('#postalDropdown').on('hidden.bs.dropdown', function (event) {
            if (event.clickEvent) {
                for (let child of $('#postalDropdownItems')[0].children) {
                    child.classList.remove('active');
                }
                const source = event.clickEvent.originalEvent.srcElement;
                source.classList.add('active');

                selectedPostalServiceId = parseInt(source.id.split('-')[1]);

                const service = postalServices.find(p => p.Id === selectedPostalServiceId);

                $('#postalCost')[0].innerText = service.Price.toFixed(2);
                $('#postalDropDownTitle')[0].innerText = source.innerText;
                $('#checkoutBtn')[0].classList.remove('disabled');
                $('#postalServiceId')[0].value = selectedPostalServiceId;
            }
        });
    });
})();
</script>

<p class="lead">The items below are in your cart; manage them below or head to the checkout.</p>
<hr class="my-4">
<div class="cart">
    <% if (cart.IsEmpty) { %>
        <div class="bs-callout bs-callout-warning">
            <h1>Empty Cart :(</h1>
            <div>
                <span>You do not have any items in your cart!</span>
            </div>
            <footer style="padding-top: 6px;">
                <a class="btn btn-warning" href="/shop/products" role="button">Browse Products</a>
            </footer>
        </div>
    <% } else { %>
        <% for (let item of cart.Items) { %>
            <div class="bs-callout bs-callout-warning">
                <img src="<%= item.Product.ImageUri %>" class="img-fluid" alt="product image" style="width: 80px; height: 80px; margin-right: 8px; float: left;" />
                <h1><a href="/shop/product/<%= item.Product.Id %>"><%= item.Product.Name %></a></h1>
                <div>
                    <span><i><%= item.Product.Description %></i></span>
                </div>
                <hr class="my-2">
                <div class="container-fluid" style="padding: 0">
                    <div class="row align-items-center justify-content-between">
                        <div class="col align-self-center">
                            <div>
                                <span><b>Individual Price:</b> £<%= parseMoney(item.Product.Price) %></span>
                            </div>
                            <div>
                                <span><b>Subtotal:</b> £<%= parseMoney(item.Total) %></span>
                            </div>
                        </div>
                        <div class="col align-self-center" style="text-align: right;">
                            <form class="needs-validation" action="/shop/cart/product/<%= item.Product.Id %>" method="POST">
                                <div class="form-group" style="display: inline-flex;">
                                    <input class="form-control" id="quantityInput" type="number" name="quantity" step="1" value="<%= item.Quantity %>" min="1" style="width: 62px; margin-right: 10px;" required/>
                                    <button type="submit" class="btn btn-warning">Update</button>
                                    <a style="margin-left: 8px;" class="btn btn-secondary" href="/shop/cart/product/<%= item.Product.Id %>" role="button">Remove</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
        <div class="bs-callout bs-callout-warning">
            <img src="https://www.stamps.com/assets/images/shipping/hidden-postage/hidden-postage-large.jpg" class="img-fluid" alt="product image" style="width: 80px; height: 80px; margin-right: 8px; float: left;" />
            <h1 style="color: #f0ad4e">Postage & Packaging</h1>
            <div>
                <span>Please select from the below list your desired postal service.</span>
            </div>
            <hr class="my-2">
            <div id="postalDropdown" class="dropdown">
                <a id="postalDropDownTitle" class="btn btn-warning dropdown-toggle" style="width: 362px;" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <% if (postalServices.map(ps => ps.Id).includes(preferredPostalService)) { const preferredService = postalServices.find(p => p.Id === preferredPostalService); %>
                        <%= preferredService.Name %> - <%= preferredService.Window %> (£<%= preferredService.Price %>)
                    <% } else { %>
                        Select a Postal Service
                    <% } %>                        
                </a>
                <div id="postalDropdownItems" class="dropdown-menu" aria-labelledby="postalDropdown">
                    <% for (let service of postalServices) { %>
                        <option id="postalDropdownItems-<%= service.Id %>" class="dropdown-item <%= preferredPostalService === service.Id ? 'active' : '' %>"><%= service.Name %> - <%= service.Window %> (£<%= service.Price %>)</option>
                    <% } %>
                </div>
            </div>
        </div>
    <% } %>
</div>
<% if (!cart.IsEmpty) { %>
    <footer class="bs-callout bs-callout-warning cartPrice">
        <p style="float: left;">
            <b>£<%= parseMoney(cart.SubTotal) %></b>
            <span class="text-muted" style="font-size: small;">
                <span id="postalCost">
                    <% if (postalServices.map(ps => ps.Id).includes(preferredPostalService)) { const preferredService = postalServices.find(p => p.Id === preferredPostalService); %>
                        + £<%= preferredService.Price %>
                    <% } else { %>
                        + £0.00
                    <% } %>  
                </span> P&P
            </span>
        </p>
        <form method="POST" action="/shop/checkout" style="float: right;">
            <input type="hidden" id="postalServiceId" name="postalServiceId" value="<%= postalServices.map(ps => ps.Id).includes(preferredPostalService) ? preferredPostalService : 0 %>">
            <button type="submit" id="checkoutBtn" class="btn btn-warning btn-lg <%= postalServices.map(ps => ps.Id).includes(preferredPostalService) ? '' : 'disabled' %>">Checkout</button>
            <a class="btn btn-secondary btn-lg" href="/shop/products" role="button">Continue Shopping</a>
        </form>
    </footer> 
<% } %>
<%- include('../includes/footer.ejs') %>