<%- include('../includes/header.ejs') %>

<p class="lead">Please review the below order and pay.</p>
<hr class="my-4">
<div class="cart">
    <div class="bs-callout bs-callout-warning">
        <h1>Order</h1>
        <% for (let item of order.Items) { %>
            <div class="container-fluid" style="padding: 0">
                <div class="row align-items-center justify-content-between">
                    <div class="col align-self-center">
                        <span><%= item.Quantity %> x <a href="/shop/product/<%= item.Product.Id %>"><%= item.Product.Name %></a> @ £<%= parseMoney(item.Product.Price) %></span>
                    </div>
                    <div class="col align-self-center" style="text-align: right;">
                        <span>£<%= parseMoney(item.Total) %></span>
                    </div>
                </div>
            </div>
        <% } %>
        <div class="container-fluid" style="padding: 0">
            <div class="row align-items-center justify-content-between">
                <div class="col align-self-center">
                    <span>VAT @ <%= order.VatPercentage.toFixed(2) %>%</span>
                </div>
                <div class="col align-self-center" style="text-align: right;">
                    <span>£<%= parseMoney(order.VAT) %></span>
                </div>
            </div>
        </div>
        <div class="container-fluid" style="padding: 0">
            <div class="row align-items-center justify-content-between">
                <div class="col align-self-center">
                    <span>Postage & Packaging - <%= order.PostalService.Name %></span>
                </div>
                <div class="col align-self-center" style="text-align: right;">
                    <span>£<%= parseMoney(order.PostalService.Price) %></span>
                </div>
            </div>
        </div>
        <hr class="my-2">
        <div class="container-fluid" style="padding: 0">
            <div class="row align-items-center justify-content-between">
                <div class="col align-self-center" style="text-align: right;">
                    <span><b>£<%= parseMoney(order.Total) %></b></span>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="bs-callout bs-callout-warning cartPrice">
    <p style="float: left;"><b>£<%= parseMoney(order.Total) %></b></p>
    <div style="float: right;">
        <a class="btn btn-warning btn-lg" href="#" role="button">Pay</a>
        <a class="btn btn-secondary btn-lg" href="/shop/cart" role="button">Cancel</a>
    </div>
</footer> 

<%- include('../includes/footer.ejs') %>