<%- include('../includes/header.ejs') %>

<% if (products.length > 0) { %>
    <div class="d-flex" style="padding: 0 0 100px 0; margin-left: -10px; flex-wrap: wrap;">
        <% for (let product of products) { %>
            <div class="card product">
                <img src="<%= product.ImageUri %>" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><%= product.Name %></h5>
                    <h6 class="card-subtitle mb-2 text-muted">£<%= parseMoney(product.Price) %></h6>
                    <p class="card-text"><%= product.description %></p>
                    <a href="/shop/product/<%= product.Id %>" class="btn btn-warning">View</a>
                </div>
            </div>
        <% } %>
    </div>
<% } else { %>
    <div class="bs-callout bs-callout-warning">
        <h1>No results :(</h1>
        <div>
            <span>No products satisfied your search criteria, try simplifying your search.</span>
        </div>
        <footer style="padding-top: 6px;">
            <a class="btn btn-warning" href="/shop/products" role="button">Browse Products</a>
        </footer>
    </div>
<% } %>

<%- include('../includes/footer.ejs') %>