<%- include('../includes/header.ejs') %>

<script type="text/javascript">
    (function() {
        'use strict';
    
        window.addEventListener('load', function() {
            const renderableContent = JSON.parse($("<textarea/>").html('<%= JSON.stringify(form) %>').text());
            $(`#form-container`)[0].innerHTML = renderableContent;

            for (let dropdownRef of $('input[type=hidden]').filter(domObj => domObj.id !== 'Id')) {
                $(`#${dropdownRef.id}Selector`).on('hidden.bs.dropdown', function (event) {
                    if (event.clickEvent) {
                        for (let child of $(`#${dropdownRef.id}Items`)[0].children) {
                            child.classList.remove('active');
                        }

                        const source = event.clickEvent.originalEvent.srcElement;
                        source.classList.add('active');
                        dropdownRef.value = source.value;

                        $(`#${dropdownRef.id}Display`)[0].innerText = source.innerText;
                    }
                });
            }
        });
    })();
</script>

<form class="needs-validation" action="/admin<%= relativeUri %>" method="POST">
    <div id="form-container">
        <!-- Dynamic Content Here -->
    </div>
    <button type="submit" class="btn btn-warning">Add</button>
    <a class="btn btn-secondary" href="<%= backbuttonUri %>" role="button">Cancel</a>
</form>
        
<%- include('../includes/footer.ejs') %>