<%- include('../includes/header.ejs') %>

<p class="lead">Below are all the products currently listed on the website.</p>
<hr class="my-4">
<div class="cart">
    <div class="bs-callout bs-callout-warning">
        <h1>Products</h1>
        <% for (let product of products) { %>
            <hr class="my-2">
            <div class="container-fluid" style="padding: 0">
                <div class="row align-items-center justify-content-between">
                    <div class="col-auto align-self-center">
                        <div>
                            <span><a href="/shop/product/<%= product.Id %>"><%= product.Name %></a> - £<%= parseMoney(product.Price) %></span>
                        </div>
                        <div>
                            <span><%= product.Description %></span>
                        </div>
                    </div>
                    <div class="col-auto align-self-center" style="text-align: right;">
                        <a class="btn btn-warning btn-sm" href="/admin/update-product/<%= product.Id %>?sender=Management" role="button">Edit</a>
                        <a class="btn btn-secondary btn-sm" href="/admin/remove-product/<%= product.Id %>" role="button">Delete</a>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
</div>
<footer class="bs-callout bs-callout-warning cartPrice">
    <div style="float: right;">
        <a class="btn btn-warning btn-lg" href="/admin/add-product" role="button">Add Product</a>
        <a class="btn btn-secondary btn-lg" href="/shop/products" role="button">Back</a>
    </div>
</footer> 

<%- include('../includes/footer.ejs') %>