<%- include('../includes/header.ejs') %>

<h1>Edit Product</h1>

<form class="needs-validation" action="/admin/update-product/<%= product.id %>" method="POST">
    <div class="form-group">
        <label for="nameInput">Name</label>
        <input class="form-control" id="nameInput" type="text" name="name" aria-describedby="nameHelp" placeholder="Product Name" value="<%= product.name %>" required />
        <small id="nameHelp" class="form-text text-muted">Product names do not have to be unique.</small>
        <div class="invalid-feedback">
                Please provide a product name.
        </div>
    </div>
    <div class="form-group">
        <label for="descInput">Description</label>
        <textarea class="form-control" id="descInput" name="description" placeholder="Product Description" required><%= product.description %></textarea>
        <div class="invalid-feedback">
            Please provide a product description.
        </div>
    </div>
    <div class="form-group">
        <label for="priceInput">Price (£)</label>
        <input class="form-control" id="priceInput" type="number" name="price" step="0.01" value="<%= product.price %>" required/>
        <div class="invalid-feedback">
            Please provide a price for this product
        </div>
    </div>
    <input type="hidden" id="id" name="id" value="<%= product.id %>">
    <button type="submit" class="btn btn-warning">Update</button>
</form>
        
<%- include('../includes/footer.ejs') %>